.choice-box .context-menu { -fx-background-color: #00aa14; }
.choice-box .menu-item:focused { -fx-background-color: #00800f; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }
.choice-box {
    -fx-background-color: transparent;
    -fx-mark-color: white; // arrow white
}
.choice-box > .label { -fx-text-fill: white; }
