
target/classes/Views/TemplateC.fxml
target/classes/Views/TemplateB.fxml
target/classes/Views/TemplateA.fxml
target/classes/Views/LoginView.fxml
target/classes/Views/KPI_DashboardView.fxml
target/classes/Views/adminDashboardView.fxml
target/classes/Tiles/UserTile.fxml
target/classes/Main.class
target/classes/Gui/Models/UserModel.class
target/classes/Gui/Controllers/UserTileController.class
target/classes/Gui/Controllers/TemplateViewController.class
target/classes/Gui/Controllers/LoginViewController.class
target/classes/Gui/Controllers/KPI_DashboardViewController.class
target/classes/Gui/Controllers/AdminDashboardViewController.class
target/classes/Dal/UserDao.class
target/classes/Dal/DataAccess.class
target/classes/Bll/UserManager.class
target/classes/Bll/HandlingPassword.class
target/classes/Be/User.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/Images/DeleteUser.png
target/classes/Images/EditUser.png
target/classes/Images/NewUser.png
target/classes/Images/User.png
target/classes/Views/two.xlsx
target/classes/Views/test2.xlsx
target/classes/Views/test.xlsx
target/classes/Views/one.xlsx
target/classes/Views/B.JPG
target/classes/Views/A.JPG
target/classes/Files/2.png
target/classes/Files/1.jpg
target/classes/Views/adminDashboardView - Kopi2.fxml
target/classes/Views/adminDashboardView - Kopi1.fxml
target/classes/Files/wrench.png
target/classes/Files/user.png
target/classes/Files/settings.png
target/classes/Files/logout.png
target/classes/Files/kpi.png
target/classes/Files/templateRemove.png
target/classes/Files/templateEdit.png
target/classes/Files/templateAdd.png
target/classes/Views/dashboardEditorView.fxml
target/classes/Files/spreadsheet.png
target/classes/Files/return.png
target/classes/Files/pie-chart.png
target/classes/Files/image.png
target/classes/Files/html-coding.png
target/classes/Files/cells.png
target/classes/Files/bar-chart.png
target/classes/Views/dashboardEditorView.fxml
target/classes/Views/dashboardEditorView.fxml
target/classes/Views/dashboardEditorView.fxml
target/classes/IndividualKPIsViews/excel_View.fxml
target/classes/Gui/IndividualKPIsControllers/excelController.class
target/classes/Gui/Controllers/TemplateController.class
target/classes/Gui/Controllers/TemplateController.class
target/classes/Be/IndividualKPI.class
target/classes/Be/Template.class
target/classes/Be/TemplateCell.class
target/classes/Bll/KPI_Library/KPI_Library_Manager.class
target/classes/Bll/TemplateManager.class
target/classes/Dal/KPIcollectionDao.class
target/classes/Dal/TemplateDao.class
target/classes/Dashboards/BaseTemplate.fxml
target/classes/Dashboards/TemplateA.fxml
target/classes/Dashboards/TemplateB.fxml
target/classes/Dashboards/TemplateC.fxml
target/classes/Files/A.JPG
target/classes/Files/B.JPG
target/classes/Files/test.xlsx
target/classes/Files/test2.xlsx
target/classes/Gui/Controllers/DashboardEditorViewController.class
target/classes/Gui/Controllers/TemplateController.class
target/classes/Gui/Controllers/TemplateTileController.class
target/classes/Gui/IndividualKPIsControllers/ImageViewController.class
target/classes/Gui/IndividualKPIsControllers/WebViewController.class
target/classes/Gui/Models/KPIcollectionModel.class
target/classes/Gui/Models/TemplateModel.class
target/classes/Images/workOfMonth.png
target/classes/IndividualKPIsViews/ImageView.fxml
target/classes/IndividualKPIsViews/WebView.fxml
target/classes/IndividualKPIsViews/WorkerOfMonth_Image_View.fxml
target/classes/Tiles/TemplateTile.fxml
target/classes/Views/dashboardEditorView.fxml
target/classes/Files/CSV_files/Operators Available(month over month).csv
target/classes/Files/CSV_files/Operators Available.csv
target/classes/Files/CSV_files/PieChartDataset.csv
target/classes/Gui/IndividualKPIsControllers/CSVgraphGenerator_AreaChart.class
target/classes/Gui/IndividualKPIsControllers/CSVgraphGenerator_AreaChart1.class
target/classes/Gui/IndividualKPIsControllers/CSVgraphGenerator_AreaChartOverlay.class
target/classes/Gui/IndividualKPIsControllers/CSVgraphGenerator_LineChart.class
target/classes/Gui/IndividualKPIsControllers/CSVgraphGenerator_PieChart.class
target/classes/Gui/IndividualKPIsControllers/ImageViewGenerator.class
target/classes/Gui/IndividualKPIsControllers/legacyCode/excelController.class
target/classes/Gui/IndividualKPIsControllers/legacyCode/ImageViewController.class
target/classes/Gui/IndividualKPIsControllers/legacyCode/WebViewController.class
target/classes/Gui/IndividualKPIsControllers/SpreadsheetGenerator.class
target/classes/Gui/IndividualKPIsControllers/WebViewGenerator.class
target/classes/Gui/Models/TileCellModel.class
target/classes/IndividualKPIsViews/CSVgraphView.fxml
target/classes/IndividualKPIsViews/test.fxml
target/classes/Files/enable.png
target/classes/Tiles/deleteKPITile.fxml
target/classes/Gui/IndividualKPIsControllers/legacyCode/testCss.class
target/classes/Gui/Controllers/DeleteKPITileController.class
target/classes/Files/CSV_files/test2.xlsx
target/classes/Files/CSV_files/Sickness (month over).csv
target/classes/Files/CSV_files/AbsenceStatistics.csv
target/classes/Files/clock.png
target/classes/Files/ChooseFileIcon.png
target/classes/Files/arlalogosmall.png
target/classes/Exceptions/FileHandlingException.class
target/classes/DashboardsTesting.json
target/classes/Dashboardstemplate test.json
target/classes/DashboardsTemplate C.json
target/classes/DashboardsTemplate B.json
target/classes/DashboardsTemplate A.json
target/classes/DashboardsSweetGeezes_attempt2.json
target/classes/DashboardsSweetGeezes.json
target/classes/DashboardsSomewhat working.json
target/classes/DashboardssaveTest.json
target/classes/DashboardsPushka.json
target/classes/Dashboardspretty!.json
target/classes/DashboardsPieAreaXLSXTemplate.json
target/classes/DashboardsNot Empty.json
target/classes/DashboardsHallloj.json
target/classes/DashboardsfuckedUpTemplate.json
target/classes/DashboardsEmpty.json
target/classes/Dashboards6x6 Templetto.json
target/classes/Dashboards/tomas.json
target/classes/Dashboards/ThiisDude.json
target/classes/Dashboards/TestTemplate.json
target/classes/Dashboards/TestBad.json
target/classes/Dashboards/Hello.json
target/classes/Dashboards/cock.json
target/classes/Dashboards/ccc.json
target/classes/Dashboards/basicTemplate.json
target/classes/Dashboards/basic.json
target/classes/Css/TableVuewStyling.css
target/classes/Css/ChiceboxStyling.css
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/WebViewGenerator.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/SpreadsheetGenerator.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/ImageViewGenerator.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/CSVgraphGenerator_StackedArea.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/CSVgraphGenerator_PieChart.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/CSVgraphGenerator_LineChart.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/CSVgraphGenerator_AreaChartOverlay.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/CSVgraphGenerator_AreaChart1.class
target/classes/Bll/KPI_Library/KPI_ProcessingClasses/CSVgraphGenerator_AreaChart.class
target/classes/Bll/KPI_Library/KPI_Pane_Creator.class
target/classes/Bll/DashboardFileManager.class
target/classes/Be/TemplateGrid.class
target/classes/Be/KPIType.class
target/classes/Css/Choicebox.css
